In [1]:
a = ["a", "b"]
b = ["d", "e"]
c = a+b

In [2]:
c += ["z"]

In [3]:
c

['a', 'b', 'd', 'e', 'z']

In [4]:
for i in c:
    print(i)

a
b
d
e
z

In [13]:
import pandas as pd
from sklearn.utils import shuffle

In [14]:
df = pd.DataFrame(columns=['data'])

In [15]:
df["data"] = list(c)

In [16]:
df

  data
0    a
1    b
2    d
3    e
4    z

In [21]:
from sklearn.model_selection import train_test_split

In [30]:
df_train, df_val = train_test_split(df, test_size=0.2)

In [31]:
df_train

  data
4    z
3    e
1    b
0    a

In [32]:
df_val

  data
2    d

In [38]:
df[3:5]

  data
3    e
4    z